@import url("https://cdn.jsdelivr.net/gh/elte-fi/www-assets@19.10.16/styles/mdss.min.css");

* {
  box-sizing: border-box;
}
.list-container {
  background-color: #fafafa;
}
.list-container ul {
  /* border: 1px solid #eeeeee; */
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 5px solid #cccccc;
  border-right: 5px solid #cccccc;
}
input {
  padding: 4px;
  /* border-color: #cccccc; */
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  outline: none;
  width: 100%;
}
input:focus {
  box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.5);
}