@import url("https://cdn.jsdelivr.net/gh/elte-fi/www-assets@19.10.16/styles/mdss.min.css");

:root {
  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
}

hr {
  border: none;
  background-color: #ccc;
  color: #ccc;
  height: 5px;
  visibility: visible;
  margin: 10px auto;
}
